@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --errors-red: hsl(0, 100%, 66%);
  --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --font-size: 18px;
}

section#area-cards {
  background-image: url('./images/bg-main-mobile.png') ;
}

.front-card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-image: url('./images/bg-card-front.png');
  color: aliceblue;
}

#logo-card {
  width: 20%;
  padding: 1rem;
}

#area-form form {
  display: flex;
  flex-direction: column;
}

.sucess-added-card{
  display: flex;
  flex-direction: column;

}