@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --errors-red: hsl(0, 100%, 66%);
  --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section#area-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat center url('./images/bg-main-mobile.png');
  background-size: cover;
  width: auto;
  height: 30%;
  border-radius: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.front-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15.5rem;
  height: 8.5rem; 
  background: no-repeat center/100% url('./images/bg-card-front.png');
  color: aliceblue;
}

#logo-card {
  width: 20%;
  padding: 1rem;
}

div.data-card-front{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 1rem 2.5rem;
}

 label#lb-num-card {
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
}

label#lb-name-card {
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;  
}

label#lb-data-card {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
}

label#lb-name-card,
label#lb-data-card {
  font-size: .75rem;
  margin-inline: .75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


section.back-card {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 15.5rem;
  height: 8.5rem;
  margin-top: 1rem;
  background: no-repeat center/100% url('./images/bg-card-back.png');
}

section.back-card label{
  margin-right: 2rem;
}

section#area-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    
}

section#area-form form {
  
  display: flex;
  flex-direction: column;  
  padding-top: 4rem;
  padding-inline: 1rem;
  max-width: 95%;
}

section#area-form form > input {
  width: auto;
  height: 2rem;
  padding-inline: 1rem;
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.form-button,
#dig-error button{
  background-color: var(--very-dark-violet);
  color: var(--light-grayish-violet);
  border-radius: .5rem;
  font-weight:bold;
  padding: .5rem;
}

section#area-form div {  
  display: inline-grid ;
  width: auto;
  padding: .1rem ;
  grid-template-columns: 30% 28% 20% 20%;
  grid-template-rows: 1.5rem 2rem;
  gap: .3rem;
}

section#area-form div label:first-child{
  grid-column: 1 /3;
}

section#area-form div label:nth-child(2){
  grid-column: 3 / 5; 
}

section#area-form div input:first-child{
  grid-column: 1 / 2;
}

section#area-form div input:last-child{
  grid-column: 3 / 5;
}


.sucess-added-card{
  display: none;
  flex-direction: column;

}

#dig-error {
  width: 53%;
  height: 40%;
  margin-inline: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  border-radius: .5rem;
}

#dig-error section{
  background-color: var(--light-grayish-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

#dig-error::backdrop {
  opacity: .6;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(5px);
}

#dig-error button{
  width: 8rem;
}

@media (min-width: 450px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: auto;
  }

  body {
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width: 95%;
    height: 95%;    
  }

  section#area-cards {
    width: 30%;
    height: 30rem;  
    justify-content: center;  
  } 

  section#area-form {    
    width: 70%;
    height: 30rem;
    justify-content: center;
    align-content: center;
    align-items: center;
  } 

  section#area-form form {
    padding-top: 2rem;
    max-width: 40%;
  }

  #dig-error {
    width: 35%;
    height: 35%;    
  }
  

}